@import './variables';

.card {
    background-color: $color-1;
    border: 1px solid $color-2;
    padding: 20px;
    border-radius: 1rem;
    position: relative;
}

.description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.choicesList {
    list-style: none;
}
.choice {
    display: flex;
    cursor: pointer;
    padding: 5px;
    background-color: $color-1;
    transition: 0.4s;
    border-radius: 0.2rem;
    &:hover {
        background-color: white;
        color: black;
    }
}